body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../assets/image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    font-size: 14px;
    overflow: hidden;
    height: 1vh;
    width: 1vw;
}
  
*{
    outline: none; 
    font-family: Roboto, -apple-system, BlinkMacSystemFont,  sans-serif;
}
  
html, 
body, 
#root {
    height: 100%;
  }

.app{
    display: flex;
    align-items: flex-start;
}
.panels__container{
    display: flex;
}
  
button,
textarea {
    font-size: 14px;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
